html {
  margin:0px;
  padding:0px;
  overflow-y:scroll;

}

body {
  margin:50px;
  padding:0px;

  width:100%;
  font-size:14px;
  line-height:1.5;

  font-family:'Helvetica';
  color: white;

  min-height:100vh;
  overflow:hidden;
  position:relative;

  background-image:
}

.sm-summary-container {
  position: absolute;
  text-align: justify;
  bottom: 0;
  right:35%;
  width: 40%;
  height
 }

/* TITLE */
.sm-title-container {
  bottom: 0;
  font-size:17px;
}


.sm-credit-container {
  position: absolute;
  text-align: justify;
  bottom: 0;
  right:35%;
  width: 40%;
  height


}

.ww-image-main-one {
position: relative;
top: 0;
}

.sm-heading-container{
  text-align: justify;
  bottom: 0;
  font-size:35px;

}

body{
  background-color: black;
}

.sm-subheading-container{
  bottom: 0;
  font-size: 17px;
}

/* When off it should be black */
/* When on background colour should change to red */
.sm-colour--on {
  background-color: red;
}

/* POSITION SWITCH STYLING */
/* When on position everything differently */
.sm-position--on .sm-credit-container {
  width: 100%;
}
.sm-position--on .sm-title-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}
.sm-position--on .sm-title-col {
  width: 50%;
}
.sm-position--on .sm-title-container h1 {
  font-size: 10vw;
	margin-bottom: 10vh;
	margin-top: 0;
}
.sm-position--on .sm-title-col--top-pad {
  margin-top: 30vh;
}


/* MOVE SWITCH STYLING */
/* When on animate */
@keyframes move-left-to-right {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 60vw;
  }

  100% {
    margin-left: 0;
  }
}
.sm-move--on .sm-heading-container {
  animation: move-left-to-right 5s ease infinite;
}
@keyframes move-right-to-left {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: -30vw;
  }

  100% {
    margin-left: 0;
  }
}
.sm-move--on .sm-heading-container {
  animation: move-right-to-left 5s ease infinite;
}

@media only screen and (max-width: 400px) {

  .ww-image-main-one {
  position: relative;
  top: 0;
  width: 100%;
  }

  .sm-subheading-container {
  bottom: 0;
  font-size: 17px;
  }

}
