html {
  margin:0px;
  padding:0px;
  overflow-y:scroll;

}

body {
  margin:50px;
  padding:0px;

  width:100%;
  font-size:14px;
  line-height:1.5;

  font-family:'Helvetica';
  color: white;

  min-height:100vh;
  overflow:hidden;
  position:relative;

  background-image:
}

.sm-summary-container{
  position: absolute;
  text-align: justify;
  bottom: 0;
  right:35%;
  width: 40%;
  height
 }

/* TITLE */
.sm-title-container{
  bottom: 0;
  font-size:17px;
}


.sm-credit-container{
  position: absolute;
  text-align: justify;
  bottom: 0;
  right:35%;
  width: 40%;
  height


}

.ww-image-main-one {
position: relative;
top: 0;
}

.sm-heading-container{
  text-align: justify;
  bottom: 0;
  font-size:35px;

}

body{
background-color: black;
}

.sm-subheading-container{
  bottom: 0;
  font-size: 17px;
}

.sm-colour--on {
  background-color:black;
  background-color: red;
}
